body {
  font-family: "Open Sans", sans-serif;
  color: #5a5a5a;
  background-image: url("../public/images/flip-flop-pattern.svg");
  background-size: 20rem;
  background-position: center;
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
  letter-spacing: 0.3rem;
}

h2 {
  font-size: 3rem;
  line-height: 3.5rem;
}

.home-page-container header {
  background-image: url("../public/images/flip-flop-cover.svg");
  background-repeat: no-repeat;
  background-position: top -50px left 50%;
  background-size: 1000px;
  min-height: 24rem;
}

@media only screen and (min-width: 768px) {
  .home-page-container header {
    background-position: top -180px left 50%;
    background-size: 1300px;
  }
}

@media only screen and (min-width: 1200px) {
  .home-page-container header {
    background-position: top -275px left 50%;
    background-size: 1550px;
  }
}

nav.navbar-dark {
  /* internal page nav */
  background-color: #167070 !important;
}

.home-page-container nav.navbar-dark {
  background-color: transparent !important;
}

.dropdown-menu .dropdown-item .nav-link,
.dropdown-menu .dropdown-item .nav-link.active {
  color: #04bf9d;
}

navbar-dark a.navbar-brand span {
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
}

.card-body > .card-title {
  font-size: 2.5rem;
}

.nav-link {
  cursor: pointer;
}

.card {
  background-color: transparent;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

footer {
  background-color: #003d59;
}

footer section:first-of-type {
  background-color: #fe6625;
}

footer section:nth-of-type(2n) hr {
  width: 60px;
  background-color: #fb9334;
  height: 2px;
}

footer > div {
  background-color: rgba(0, 0, 0, 0.2);
}
